{% extends "main.html" %}
{% block content %}
{% include "books-header.html" %}

	<div class="row jumbotron page-title">
		<div class="col-md-12">
			<h1>Whoops!</h1>
		</div>
	</div>

	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
	<div class="row">
		<div class="col-md-12">
			<p>
				<span class="glyphicon glyphicon-ban-circle"></span>
				<strong>  {{ message }}</strong>
			</p>		
		</div>
	</div>
	{% endfor %}
	<br>
	{% endif %}
	{% endwith %}

	<div class="row">
		<div class="col-md-12">
			<br>
			
		</div>
	</div>

	

{% endblock %}