{% extends "main.html" %}
{% block content %}
{% include "publicbooks-header.html" %}

	<div class="row jumbotron page-title">
		<div class="col-md-12">
			<h1>{{ book_list.name }}</h1>
			<h4>Created by: {{ creator.name }}</h4>
		</div>
	</div>

	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
	<div class="row flash">
		<div class="col-md-11">
			<p>
				<span class="glyphicon glyphicon-ok"></span>
				<strong>  {{ message }}</strong>
			</p>		
		</div>
	</div>
	{% endfor %}
	<br>
	{% endif %}
	{% endwith %}

	<div class="row">
		<div class="col-md-12">
			<a class="names" href="{{ url_for('newItem', list_id = book_list.id) }}">
			<span class="glyphicon glyphicon-plus"></span>
			Add New Book
			</a>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>	
		</div>
	</div>
	
	<br>

	{% for i in books %}

	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="{{ i.image }}">
		</div>
		<div class="col-md-9">
			<h3>{{ i.name }}</h3>
			<p><em>{{ i.author }}</em></p>
			<p>{{ i.description }}</p>			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>	
		</div>
	</div>
	
	<br>

	{% endfor %}

{% endblock %}